.icon--white {
    color: white;
}
.reveal .slides section .fragment.current-disappear {
    visibility: inherit;
    opacity: inherit;
}
.reveal .slides section .fragment.current-disappear.current-fragment {
    display: none;
}

.reveal pre {
    /* Hack because code is not aligned */
    box-shadow: none;
}
div .jsonb-diagram {
    display: flex;
    justify-content: space-between;
}

div .jsonb-diagram__label {
    background-color: Snow;
    padding: 10px;
    font-size: 0.5em;
    border-radius: 10px;
}

#jsonb-diagram__push-jsonb-value {
    opacity: calc(100*var(--jsonb-diagram__push-jsonb-value, 0));
}

#jsonb-diagram__jsonb-iterator-next {
    opacity: calc(100*var(--jsonb-diagram__jsonb-iterator-next, 0));
}

div .jsonb-diagram__row {
    display: flex;
    justify-content: space-between;
}

div .jsonb-diagram__column {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
div .jsonb-diagram__item {
    background: darkblue;
    border: 5px solid RoyalBlue;
    border-radius: 15px;
}
div .jsonb-diagram__item span{
    margin-left: 5px;
    margin-right: 5px;
}

div .jsonb_iteration__example {
    justify-content: space-around;
    display: flex;
}

pre .jsonb_iteration__example__item {
    flex-shrink: 0;
    flex-grow: 1;
    margin: 5px;
}