.icon--white {
    color: white;
}
.reveal .slides section .fragment.current-disappear {
    visibility: inherit;
    opacity: inherit;
}
.reveal .slides section .fragment.current-disappear.current-fragment {
    display: none;
}

.reveal pre {
    /* Hack because code is not aligned */
    box-shadow: none;
}
div .jsonb-diagram {
    display: flex;
    justify-content: space-between;
}

div .jsonb-diagram__label {
    background-color: lavender;
    padding: 10px;
    font-size: 0.5em;
    border-radius: 10px;
}

div .jsonb-diagram__row {
    display: flex;
    justify-content: space-between;
}

div .jsonb-diagram__column {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
div .jsonb-diagram__item {
    border: 5px solid red;
}

div .jsonb_iteration__example {
    justify-content: space-around;
    display: flex;
}
div .jsonb_iteration__example.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

pre .jsonb_iteration__example__item {
    flex-shrink: 0;
    flex-grow: 1;
    margin: 5px;
}